 name: Cypress run
  uses: cypress-io/github-action@v6
  with:
    project: frontend
    working-directory: frontend
    start: npm start
    wait-on: http://localhost:3000
    record: true
    parallel: false
  env:
    CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS_RECORD_KEY }}
    GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

